/* Modifying the display of the search bar in the main menu */

.views-exposed-form .views-exposed-widget {
  float: right; /* LTR */
  padding: none; /* LTR */
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0 em;
}

.views-exposed-form .form-item,
.views-exposed-form .form-submit {
  margin-top: 0;
  margin-bottom: 0;
}


.views-exposed-widget .views-submit-button {
	float: right;
	padding: none;
}

#edit-submit-clone-of-browse-all {
	float: right;
	padding: none;
}

.btn .btn .primary .form-submit {
	float: right;
	padding: none;
}
