.pager-ellipsis {
	display:none;
	color:red;
	background-color:red;
}




/* Fixing the display of the exposed form on the browse-all page */


.chosen-container {
border: 0 !important;
padding: 0 !important;
height: auto !important;
box-shadow: none !important;
-webkit-box-shadow: none !important;
}


/* Fixing the display of the search button */
.buttonplacementfix {
float: left;
display: inline-block;
padding: .5em 1em 0 0;
margin-top: 1.8em;
vertical-align: middle;
}


@media all and (max-width: 720px) {
  .buttonplacementfix{
		float: left;
		display: inline-block;
		padding: .5em 1em 0 0;
		margin-top: 1.8em;
		vertical-align: middle;
  }
}

@media all and (max-width: 992px) {
	.buttonplacementfix{
		float: left;
		display: inline-block;
		padding: .5em 1em 0 0;
		margin-top: 1.8em;
		vertical-align: middle;
  }
}

@media all and (max-width: 992px) {
	.views-exposed-form .views-exposed-widget {
		padding: none;
		margin-left: 4px;
		margin-right: 0px;
		margin-bottom: 4px;
	}
}

 .views-exposed-widget .views-submit-button {
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 0px;
}

.views-exposed-form .views-exposed-widget {
  padding: none;
  margin-left: 8px;
  margin-right: 0px;
}
 .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0em;
}

.views-exposed-widgets {
  margin-bottom: 0em;
}

#searchbutton {
	margin-left: 0px;
	padding-left: 0px;
}