/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

 
/* Modifying the display of the search bar in the main menu */
 .navbar #block-search-form {
 	margin-left: 5px;
 	margin-right: 5px;
 	margin-top: 10px;
 	margin-bottom: 0px;
 	max-width: 200px;
 }

