.dlike h2 {
background: #EEE;
font-family: Sans;
padding: 5px;
}

.dlike-user-row {
padding: 25px 0px;
text-align: left;
}

.dlike .view-content a {
color: #666;
text-decoration: none;
}

.dlike-user-row {
padding: 15px 0px;
text-align: left;
}

.dlike-user-row .field-content {
padding: 0px 5px;
}
